@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$accent: #003407; 
$accent-active: #0a4e08;
$accent-off: #2a6e29;

// General styling. 
html {
	font-family: 'Raleway', sans-serif;
}

// General layout. 
body {
  width: 60%;
  margin: auto;
}

// If CSS grid is supported . . . oh boyo. 
@supports(display: grid) {
  body {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas:  "header header"
    //                       "generalcontent sidebar"
  }
  #header.minimized {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    h1 {
      font-size: 15px;
    }
    .icons {
      text-align: right;
    }
  }
}

// Page header. 
#header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px;
  background: green;
  // Triangle! 
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);//, 0 100%); 
  // Keep header at the top of the page. 
  position: fixed;
  top: 0;
  width: 60%; // Since this is fixed, not sticky. 
  // Recolor links inside the header since they're on a dark bg. 
  a {
    color: $accent;
    &:visited {
      color: $accent;
    }
    &:hover, &:focus, &:active {
      color: white;
    }
  }
}

#headspace {
  height: 105px; // If this is a little large, that's not a problem. 
}

// Links.
a {
  color: $accent;
  &:visited {
    color: $accent-off;
  }
  &:hover, &:focus, &:active {
    color: $accent-active;
  }
}

// Headings. 
h1, h2, h3, h4, h5, h6 { 
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
}

.icons {
  font-size: 14pt;
  .resume { // He's a little big. 
    font-size: 13pt;
  }
}