@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// Accent; yeah, it's Slytherin. 
$accent: #003407; 
$accent-active: #0a4e08;
$accent-off: #2a6e29;
$accent-white: lighten($accent, 80%); // They call this off-white in the accent direction. 

// Muted; for backgrounds. 
$muted-bright: green;
$muted-faded: lighten(black, 85%); // Gray. lol. 

// General styling. 
* {
	font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
}

// General layout. 
#page-container {
  width: 60%;
  margin: auto;
  background: $muted-faded;
}

// If CSS grid is supported . . . oh boyo. 
@supports(display: grid) {
  body {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas:  "header header"
    //                       "generalcontent sidebar"
  }
  #header.minimized {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // Make sure the header fits inside the page content. 
    width: 60%;
    h1 {
      font-size: 15px;
    }
    .icons {
      text-align: right;
    }
  }
}

// Page header. 
#header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px;
  background: $muted-bright;
  // Triangle! 
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);//, 0 100%); 
  // Keep header at the top of the page. 
  position: fixed;
  top: 0;
  width: 70%; // Start the triangle slightly longer than the page-content div. 
  // Recolor links inside the header since they're on a dark bg. 
  a {
    color: $accent;
    &:visited {
      color: $accent;
    }
    &:hover, &:focus, &:active {
      color: $accent-white;
    }
  }
}

#headspace {
  height: 105px; // If this is a little large, that's not a problem. 
}

.icons {
  font-size: 14pt;
  .resume { // He's a little big. 
    font-size: 13pt;
  }
}


// Nav menu on the left. 
#nav {
  // background: $muted-faded;
  transform: rotate(90deg);
  position: fixed;
  left: -2%;
  bottom: 50%;
}


// Links.
a {
  color: $accent;
  &:visited {
    color: $accent-off;
  }
  &:hover, &:focus, &:active {
    color: $accent-active;
  }
}


// Headings besides h1. 
h2, h3, h4, h5, h6 { 
  font-family: 'Playfair Display', sans-serif;
  margin: 10px;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
}
  

// Content divs. 
.content-box {
  margin: 10px;
}

@supports(display: grid) {
  .two-col-grid {
    display:grid;
    grid-template-columns: 6fr 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    row-gap: 2px;
    column-gap: 2px;
    .date {
      text-align: right;
    }
    .description {
      grid-column: span 2;
    }
  }
}

.minor-title {
  font-weight: bold;
}
